.FormHeader {
    width: 1300px;
    padding: 25px;
    border: 10px solid #4CBB17;
    margin: 25px;
    font-size: 200%;
}

.FormSubmission {
  width: 550px;
  height: 400px;
    padding: 25px;
    border: 10px solid #4CBB17;
    margin: 25px;
    font-size: 200%;
    float: left;
}

.LandingPageImage {
  width: 600px;
  height: 400px;
  padding: 25px;
  border: 10px solid #4CBB17;
  margin: 25px;
  font-size: 200%;
    float: right;
}

.LandingPageImage img {
  width: 100%;
  height: 100%;
}

.LandingPageImage input {
  height: 50px
  width : 100px
}
